*.dSYM
*.exp
*.gcda
*.gcno
*.la
*.lo
*.log
*.mem
*.o
*.plist
*.scan
*.sdf
*.status
*.tar.*
*~
.DS_Store
.deps
.dirstamp
.done
.libs
CMakeCache.txt
CMakeFiles
Makefile
cmake_install.cmake
minisign
.zig-cache
zig-out
